---
import type { AboutText } from "../../utils/Texts/AboutTexts";

const { objectToMap } = Astro.props;
const location = Astro.url.pathname;
---

<div class="flex items-center justify-center">
  <div class="w-[calc(100vw-55px)] lg:w-[calc(100vw-750px)] pt-0 lg:pt-3">
    {
      // Using only AboutText as type since all the types are same`
      objectToMap.map((text: AboutText) => {
        const { id, heading, para1, para2, para3, para4 } = text;
        return (
          <div class="text-left pt-5">
            <h1 class="lg:text-left text-center font-semibold tracking-wide text-2xl lg:text-4xl">
              {heading}
            </h1>
            <h2 class="text-xl lg:text-2xl pt-2">
              {para1}
              {id === 4 && location === "/about/" && (
                <span>
                  <a
                    href="/extras/"
                    class="bg-clip-text font-semibold text-transparent bg-gradient-to-r from-cyan-50/90 to-teal-100/90"
                  >
                    Extras
                  </a>
                  )
                </span>
              )}
            </h2>
            <h2 class="text-xl lg:text-2xl pt-0">
              {para2}
              <a href={para4} target="_blank" rel="noreferrer">
                <span class="bg-clip-text font-semibold text-transparent bg-gradient-to-r from-sky-200/95 to-emerald-200/95">{`${
                  location === "/projects/" ? "GitHub" : null
                }`}</span>
              </a>
            </h2>
            <h2 class="text-xl lg:text-2xl pt-0">{para3}</h2>
            {location !== "/projects/" && (
              <h2 class="text-xl lg:text-2xl pt-0">{para4}</h2>
            )}
          </div>
        );
      })
    }
  </div>
</div>
